.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 6.5rem;
    color: var(--text-color);
    background-image: linear-gradient(270deg, #c3fb63 0, #abfa66 12.5%, #8ff86b 25%, #6df571 37.5%, #3cf278 50%, #00ee81 62.5%, #00eb8b 75%, #00e798 87.5%, #00e4a5 100%);
    
}

.header__changed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    font-size: 1.8rem;
    background-image: none;
    background-color: var(--header);

}